<p id="notice"><%= notice %></p>

<h1 class="text-center">Inicio y Fin de las Rondas</h1>

<div class="row">
	<div class="col-xs-6">
		<%= link_to "Comenzar el día", "/play_game", method: :post, class: :"btn btn-success btn-lg" %> <br>
	</div>
	<div class="col-xs-6">
		<%= link_to "Fin del día", "/stop_game", method: :post, class: :"btn btn-warning btn-lg" %> <br>
	</div>
</div>

</table>