<p id="notice"><%= notice %></p>

<h1 class="text-center">Monitoreo</h1>

<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" id="time" role="progressbar" aria-valuenow="180" aria-valuemin="0" aria-valuemax="100">
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr class="text-center-tr">
      <th>Jugador</th>
      <th>Fecha</th>
      <th>Color Jugador</th>
      <th>Apuesta Jugador</th>
      <th>Color Ruleta</th>
      <th>Resultado</th>
    </tr>
  </thead>

  <tbody id="bet_histories">
    <%= render @bet_histories %>
  </tbody>

</table>