<tr>
	<td><%= bet_history.try(:name) || bet_history.full_name %></td>
	<td class="text-center"><%= bet_history.date.strftime("%d-%m-%Y %H:%M:%S") %></td>
	<td class="<%= bet_history.color_player %>"></td>
	<td class="text-center"><%= bet_history.bet_player %></td>
	<td class="<%= bet_history.color_roulette %>"></td>
	<td class="text-center <%= bet_history.result >= 0 ? 'positivo' : 'negativo' %>"><%= bet_history.result %></td>
</tr>