<%= form_for(player) do |f| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, 'Nombre'%>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :last_name, 'Apellido' %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :cash, 'Dinero' unless @player.new_record? %>
    <%= f.number_field :cash, class: "form-control" unless @player.new_record? %>
  </div>

  <div class="actions">
    <%= f.submit (@player.new_record? ? 'Crear Jugador' : 'Editar Jugador'), class: "btn btn-primary" %>
  </div>
<% end %>
