<p id="notice"><%= notice %></p>

<h1 class="text-center">Jugadores</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dinero</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.last_name %></td>
        <td><%= player.cash %></td>
        <td><%= link_to 'Editar', edit_player_path(player) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Jugador', new_player_path, class: "btn btn-primary" %>
