<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @player.last_name %>
</p>

<p>
  <strong>Dinero:</strong>
  <%= @player.cash %>
</p>

<%= link_to 'Editar', edit_player_path(@player) %> |
<%= link_to 'Volver', players_path %>