// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.principal {
	position: relative;
	top: 50px;
}

.Rojo {
	background-color: red;
}

.Negro {
	background-color: black;
}

.Verde {
	background-color: green
}

.positivo {
	font-weight: bold;
	color: green;
}

.negativo {
	font-weight: bold;
	color: red;
}

.text-center-tr > th {
	text-align: center;
}