<!DOCTYPE html>
<html>
<head>
	<title>TareaNnodes</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
			<a class="navbar-brand">TareaNnodes</a>
			</div>
			<ul class="nav navbar-nav">
				<li><%= link_to "Monitoreo", "/"%></li>
				<li><%= link_to "Adminitración", "/admin_game"%></li>
				<li><%= link_to "Jugadores", "players"%></li>
			</ul>
		</div>
	</nav>
	<div class="container principal">
		<%= yield %>
	</div>
</body>
</html>
